{% extends "layout.html" %}
{% block body_content %}
    <div class="form">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                    {{ form.current_password.label }}
                    {% if form.current_password.errors %}
                        {{ form.current_password }}
                        <div class="error">
                            {% for error in form.current_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.current_password }}
                    {% endif %}
                </div>
            <br>
            <div class="form-group">
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {{ form.password }}
                        <div class="error">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password }}
                    {% endif %}
                </div>
            <br>
            <div class="form-group">
                    {{ form.confirm_pass.label }}
                    {% if form.confirm_pass.errors %}
                        {{ form.confirm_pass }}
                        <div class="error">
                            {% for error in form.confirm_pass.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_pass }}
                    {% endif %}
                </div>
            <br>
            <div class="form-group">
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock body_content %}
