<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    </head>
    <h1>{{ title }}</h1>
    <div class="navbar">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
            <a href="{{ url_for('change_password') }}">Change Password</a>
        {% else %}
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('new_char') }}">New Character</a>
        {% endif %}
    </div>
    <body>
        {% block body_content %}{% endblock %}
    </body>
</html>